/* Default component theme */

.button:focused, .text-field:focused, .check-box:focused, .tree-view:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: #345169;
}

.text-input {
    -fx-highlight-fill: #345169;
}

.progress-bar {
    -fx-accent: #345169;
}

.progress-indicator {
    -fx-progress-color: #345169;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing,
.tree-cell:focused {
    -fx-text-fill: white;
    -fx-background-color: #345169;
}

.menu-item:hover, .menu-item:focused{
    -fx-background-color: #345169;
}

.choice-box {
    -fx-border-color: #345169;
    -fx-border-radius: 3px;
    -fx-background-color: white;
    -fx-focus-color: #345169;
    -fx-mark-color: #345169;
}

.choice-box > .label {
    -fx-text-fill: #345169;
}

.tab-pane {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: #345169;
}

/* Fix a known issue with javafx default theme */
.tree-cell > .tree-disclosure-node > .arrow {
    -fx-rotate: 0;
}

.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-rotate: 90;
}

/* Utils */

.bold {
    -fx-font-weight: bold;
}

.dark-blue {
    -fx-text-fill: #345169;
}

/* Labels */
.title {
    -fx-font-size: 2em;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-padding: 10px;
}

.section {
    -fx-font-size: 1.4em;
    -fx-text-fill: #3E3E3E;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

/* Side Menu */
.side-menu {
    -fx-padding: 20 10 20 10;
    -fx-spacing: 12px;
}

/* Subnet and IP */

.subnet-grid{
    -fx-padding: 10px;
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}

.ip-widget {
    -fx-margin: 50;
    -fx-padding: 5px;
    -fx-border-width: 1px;
    -fx-border-color: #345169;
    -fx-border-radius: 3px;
}

/* Tabs drag and drop */


.drop-right, .drop-left, .drop-top, .drop-bottom {
	-fx-padding:5;
}

.drop-left {
	-fx-graphic: url(images/left.png);
}

.drop-right {
	-fx-graphic: url(images/right.png);
}

.drop-top {
	-fx-graphic: url(images/top.png);
}
.drop-bottom {
	-fx-graphic: url(images/bottom.png);
}

.drop-path {
	-fx-stroke : #345169;
	-fx-stroke-width: 3;
	-fx-stroke-line-join: bevel;
}